#account-info-container {
  @media only screen and (min-width: 800px) {
    position: absolute;
    bottom: 0;
    left: 40px;
  }
  position: relative;
  height: 500px;
  width: 400px;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.60);
  background: -webkit-linear-gradient(top, #34302d 22%, $smooth-gray 22%, $smooth-gray 100%);

  .customer-info {
    display: flex;
    align-items: center;
  }
  .customer-name {
    color: $white;
    font-size: 24px;
    margin-left: 20px;
  }
  .avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid $white;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.60);

  }
  .account-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .account-list-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .account-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 250px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.60);
    white-space: nowrap;
    padding: 20px;
    background: -webkit-linear-gradient(top, #34302d 30%, #ffffff 30%, #ffffff 100%);

  }

  .wallet {
    margin-top: 20px;
    h3 {
      color: $dark-gray;
      font-size: 20px;
    }
  }
  .account-type {
    color: $primary-color;
    font-size: 14px;
  }
  .account-id {
    color: $light-gray;
    font-size: 20px;
  }
  .account-balance {
    color: $primary-color;
    font-size: 14px;
    margin-top: 30px;
  }
  .account-balance-amount {
    color: $dark-gray;
    font-size: 30px;
  }
  .account-balance-currency {
    color: $primary-color;
    font-size: 14px;
  }
  .transactions-btn {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid $primary-color;
    background: none;
    color: $primary-color;
    font-size: 16px;
    padding: 10px 20px;
    i {
      font-size: 20px;
      margin-right: 6px;
    }
    &:hover {
      cursor: pointer;
      border: none;
      background-color: $primary-color;
      color: $white;
    }
  }
}