*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #application, .theme-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: "Varela Round", sans-serif;
}

#main-container {
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media only screen and (min-width: 800px) {
    .ob-title {
      position: absolute;
      bottom: 20px;
      right: 20px;
      margin: 0 !important;
    }
  }
  .ob-title {
    color: $white;
    font-size: 60px;
    margin: 50px 0;
  }

}

.green {
  color: $primary-color;
}