#login-view-container {
  button {
    border: none;
    background: $dark-gray;
    border-radius: 50%;
    padding: 20px;
    width: 120px;
    height: 120px;
    font-size: 60px;
    color: $white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: $primary-color;
      box-shadow: 0 0 10px 1px rgba(0,0,0,0.30);
    }
  }
}